@import './../../shared/scss/mixin.scss';
@import './../../shared/scss/variable.scss';

.headerWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 42px;
    align-items: flex-end;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    .elementWrapper{
        @include addFlex(center,flex-start,column);

        max-width: 520px;
        margin-top:30px;
        .selectionComponent{
            margin-left: 15px;
        }
        article{
            @include addFlex(center,flex-start,row);
            margin-top: 20px;
            position: relative;
            .showTotalPages{
                position: absolute;
                left: 0;
                bottom: -20px;
                font-size: 0.9em;
                color: $font-gray;
            }
        }
    }
    .pageNumberView{
        margin-bottom: 15px;
        flex: 1;
        text-align: right;
        margin-right: 50px
    }
    &.fixed{
        height: 80vh;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
}
@media screen and (max-width:$sx-mobile){
    .headerWrapper{
        padding-left: 10px;
        article{
            .searchComponent{
                input{
                    max-width: 320px;
                    min-width: 260px;
                }
            }
        }
    }
}