@import './../../shared/scss/mixin.scss';

.headerWrapper{
    // position: fixed;
    // top: 0;
    // background: #fff;
    // width: 100%;
    width: 100%;
    // padding-left: 100px;
    box-sizing: border-box;
    .elementWrapper{
        @include addFlex(center,flex-start,column);

        max-width: 520px;
        margin-top:30px;
        .selectionComponent{
            margin-left: 15px;
        }
        article{
            @include addFlex(center,flex-start,row);
            margin-top: 20px;
        }
    }
}