@import "./../../shared/scss/mixin.scss";
@import "./../../shared/scss/variable.scss";

.userCardComponent {
  @include rawCard;
  cursor: pointer;
  border: 1px solid $light-color-shade-3;
  overflow: hidden;
  display: block;
  .cardWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 355px;
    justify-content: flex-start;
    header {
      @include addFlex(center, flex-start, row);
      padding: 10px 20px;
      min-height: 140px;
      transition: all 0.3s ease-in-out;
      position: relative;
      height: 60px;
      .cardImage {
        top: 20px;
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 1px solid #eee;
        max-width: 120px;
        max-height: 120px;

        img {
          @include rawAvatar;
          padding: 10px;
          box-sizing: border-box;
          width: 100%;
        }
      }
    }
    .info {
      padding-top: 0px;
      @include addFlex(center, flex-start, column);
      height: 180px;
      .name {
        text-align: center;
        font-size: 1.2em;
        width: 100%;
        min-height: 40px;
        background: $default-background;
        line-height: 40px;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
      }
      .locationJoinedWrapper {
        @include addFlex(flex-start, center, row);
        padding: 0 20px;
        margin: 10px 0;
        .location {
          border: 0;
          svg {
            font-size: 0.9em;
          }
        }
      }
      .joinedOn {
        padding: 0 20px; 
        i {
          color: $light-color-shade-1;
          margin-right: 10px;
        }
      } 
      .iconWrapper {
        @include addFlex(center, center, row);
        margin-top: 15px;
        width: 100%;
        .cta {
          min-width: 120px;
          border-radius: 5px;
          padding: 5px;
          height: 30px;
          line-height: 40px;
          @include addFlex(center, center, row);
          margin: 0 10px;
          border: 1px solid $light-color-shade-3;
          svg {
            margin-right: 10px;
          }
        }
        .github {
          width: 60%;
          background: $default-font-color;
          color: #fff;
          margin: 0;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: white;
            color: $primary-color;
          }
        }
      }
      .description {
        padding: 0 20px;
        display: none;
        p {
          margin-top: 10px;
        }
      }
    }
    aside {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      .iconsContentWrapper {
        width: 100%;
        height: 100%;
        @include addFlex(center, center, column);
        min-width: 80px;
        transition: all 0.3s ease-in-out;
        transform: translateX(100px);
        .infoIcons {
          text-align: center;
          width: 100%;
          @include addFlex(center, center, column);
          background: $default-background;
          height: 50px;
          border-bottom: 1px solid $light-color-shade-2;
          flex: 1;
          span {
            margin-top: 5px;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
  &:hover {
    .cardWrapper {
      header {
        .cardImage {
          transition: all 0.3s ease-in-out;
          background: $secondary-background;
        }
      }
      .info{
        .name{
          background: $secondary-background;
        }
      }
      aside {
        .iconsContentWrapper {
          transform: translateX(0px);
        }
      }
    }
  }
}
