@import './variable.scss';

@mixin addFlex($justifyContent, $alignItems, $direction ){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $direction;
}

@mixin rawCard {
    min-height: 355px;
    margin-left: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 400px;
    @include addFlex(center, center, column);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 11px 11px 0 $light-color-shade-2;
        transform: translateY(-10px);
    }
}

@mixin rawAvatar{
    max-width: 120px;
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}