$light-color-shade-1: #999;
$light-color-shade-2: #ddd;
$light-color-shade-3: #eee;

$default-background: #fafafa;
$default-font-color: #444;
$font-gray: #757575;

$primary-color: #3b77fb;
$primary-color-1: #2f9bff;
