$light-color-shade-1: #999;
$light-color-shade-2: #ddd;
$light-color-shade-3: #eee;

$default-background: #fafafa;
$default-font-color: #444;
$font-gray: #757575;

$primary-color: #3b77fb;
$primary-color-1: #2f9bff;

/**
* Breakpoints
*/
$uhd-desktop:1440px;
$hd-desktop:1439px;
$lg-desktop:1200px;
$mlg-desktop:1199px;
$mdl-desktop:1025px;
$md-desktop:1024px;
$smd-desktop:1023px;
$smxs-desktop:993px;
$xsmd-desktop:992px;
$sm-mobile:768px;
$sx-mobile:480px;