@import './../../shared/scss/variable.scss';

.selectionComponent{
    select{
        height: 45px;
        border:1px solid $light-color-shade-2;
        background: white;
        outline: 0;
        min-width: 110px;
        padding-left: 10px;
        cursor: pointer;
        color: $font-gray;
        option{
            outline: 0;
            min-width: 110px;
            &:hover{
                background: white;
            }
        }
    }
}